/.gradle/
/.settings/
/.project
/spring-boot-web-app/.settings/
/spring-boot-web-app/.classpath
/spring-boot-web-app/.project
/spring-boot-web-app/bin/
/spring-boot-web-app/build/
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat